<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Figuras Geometricas
    </ion-title>
   </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-select (ionChange)="seleccionfigura($event)" label="Tipo de Figuras">
    <ion-select-option value="circulo">Circulo</ion-select-option>
    <ion-select-option value="triangulo">Triangulo</ion-select-option>
  </ion-select>

   
  <app-circulo *ngIf="tipodefiguracirculo()" />
  <app-triangulo *ngIf="tipodefiguratriangulo()" />
  
  </ion-content>